*{
    margin: 10px;
    padding: 0;
    box-sizing: border-box;
    
} 
body {
	font-family: Arial, sans-serif;
	background-color: #f0f0f0;
    place-items: center;
    display: contents;

}
header {
	background-color: #75b5f0;
	color: #ffffff;
	padding: 20px;
    display: block;
   
}
main {
	max-width: 800px;
	margin: 0 auto;
	padding: 20px;
}
#imgSlider{
width: 18%;
margin-left: auto;
/* margin-right: auto; */
margin-top: 30px;
float: left;
padding: auto;
width: 100vh;
height: 120vh;
/* display: contents; */
background-image: url('/Images/01.jpg');
background-size: 100% 100%;
box-shadow: rgba(14, 8, 1, 0.142) 0px 7px 29px 0px;
animation: changeImage 20s linear  infinite ;
border-radius: 15px;

}

@keyframes changeImage {
    0%{
        background-image: url('/Images/01.jpg');
    }
    25%{
        background-image: url('/Images/02.jpg');
    }
    50%{
        background-image: url('/Images/03.jpg');
    }
    75%{
        background-image: url('/Images/04.jpg');
    }
    100%{
        background-image: url('/Images/05.jpg');
    }
}

section {
    margin-left: 10px;
	margin-bottom: 30px;
    /* box-sizing: inherit;  */
}

section h2 {
	color: white;
	margin-bottom: 10px;
    background-color: #75b5f0;
    padding: 2px;
    border-radius: 5px;
}
section #hquotes{
   background-color: #e6e6e6;
   color: #75b5f0;
}

section ul {
	list-style: none;
	margin: 0;
	padding: 0;
}

section li {
	padding: 5px 0;
}

#quotes {
	font-style: italic;
	margin: 0;
	padding: 20px;
	background-color: #e6e6e6;
	border-left: 10;
    border-radius: 13px;
    
}
#intro, #achivements{
    margin-left: 410px;
    margin-right: none;
    margin-block-start: 0px;
}